


<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<%= image_tag("instagramA.jpg")%>
		</div>

		<div class="col-md-4">
			<p>Bienvenido a InstagramA, una aplicación para almacenar tus fotografias. Registrate y participa de este espacio.</p>
		</div>

	</div>
</div>