
<div class="jumbotron">
	<div class="container">
	  <h1>Instagram</h1>
	  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam eligendi beatae eius, dolorum voluptas impedit facilis debitis. Cum nobis minima, nemo neque veniam similique reprehenderit? Architecto ullam enim, vero odio.</p>
		</div>

		<div class="col-md-8">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam eligendi beatae eius, dolorum voluptas impedit facilis debitis. Cum nobis minima, nemo neque veniam similique reprehenderit? Architecto ullam enim, vero odio.</p>
		</div>

	</div>
</div>